* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.eot');
    src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Black.woff') format('woff'),
    url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.eot');
    src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

html {
    font-family: 'Roboto';
}
.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    /* задаем стили БГ, все данные есть в статье background css reference в закладке, очередность св-в можно посмотреть там же */
    background: url("../img/bg/main_bg.jpg") center center /* (расположение по оси x и y) */ / /* между вторым и 3им свойством обязательно слеш, или картинка не отобразиться, т.е должно выглядить center/cover */ cover /* растянет картинку если она не помещается на нужные размер */ no-repeat /* что бы картинка не повторялась */;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
     display: block;
     margin: 0 auto;
}

.logo .logo_text {
    font-family: 'Roboto';
    font-style: normal; 
    font-weight: 500;
    font-size: 15px; 
    line-height: 24px; /* межстрочный интервал  */
    text-align: center; 
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 9.5px;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    /* identical to box height, or 100% */
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
    margin: 53px 0 20.5px 0;
}

.simple .title_big {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 100%;     /* or 100% */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container .title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    /* identical to box height, or 100% */
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
    margin-bottom: 22.5px;
    margin-top: 20.5px;
}

.promo .promo_text {
    padding: 0 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    /* or 133% */
    text-align: center;
    color: #FFFFFF;

}

.promo .promo_text span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    /* or 133% */
    text-align: center;
    color: #F9BF3B;

}
.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 72px;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.18);
    border: 0px solid rgba(0, 0, 0, 0.18);  
    
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    /* identical to box height, or 114% */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);  
    cursor: pointer;
    
}

.more{
    margin-top: 70.5px;
}

.more .more_text  {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 4.5px;
    
}

.waiting {
    min-height: 604px;
    background: #EFEFEF;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #252525;
    text-transform: uppercase;
    
}
.finish .finish_header {
    color: #EFEFEF;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 220px;
    height: 5px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 18.5px;
}

.waiting .waiting_wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_decsr {
    margin-top: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    /* or 140% */
    color: #4A4A4A;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    text-transform: uppercase;
    color: #299CBD;
    margin-left: 391px;
}

.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 389px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A; 
}

.optimization .optimization_text span {
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    z-index: -1;
    top: -48px;
    right: 512px;
}

.finish {
    min-height: 447px;
    padding: 86px 0 68.5px 0;
    background: url("../img/bg/second_bg.jpg") center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;

}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #EFEFEF;
}

.gift {
    min-height: 631px;
    background: #EFEFEF;
    padding: 88px 0;
}

.gift .gift_img {
    display: block;
    margin: 0 auto;
}

.gift .gift_descr {
    margin-top: 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;

}

.gift .gift_btn {
    display: block;
    margin: 51px auto 0;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border: 0px;
    cursor: pointer;

    font-family: 'Roboto';
    font-size: 21px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    
}
   
.first_webinar {
    min-height: 433px;
    padding: 81px 0 52.5px 0;
}

.first_webinar .first_webinar_img {
    display: block;
    margin: 0 auto;
}

.first_webinar .first_webinar_header {
    margin-top: 36px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #252525;
}

.first_webinar .first_webinar_date {
    margin-top: 30px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    text-transform: uppercase;
    color: #299CBD;
}

.first_webinar .first_webinar_subheader {
    margin-top: 24.5px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #4A4A4A;
}

footer {
    background: #1A1A1A;
    min-height: 169px;
    padding-top: 57px;
}

.info {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #888888;
}

footer a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #888888;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}